.hero {
  background-color: $black; //changed this

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__textfield {
      text-align: center;
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
    }

    // before is a pseudo element -whats a pseudo element
    // when you have a pseudo element on the page you need give it a content element

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 96%;
        // width: 100%;
        background-image: url("/images/Ellipse.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        // width: 150%;
        // background-size: 32%;
        width: 400%;
        background-size: 12%;
        background-position: 0% 83%;
        left: 52%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/model.svg");
      background-size: 43%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        // width: 120%;
        // height: 122%;
        // background-size: 94%;
        // background-position: center 150%;
        // left: 22%;
        width: 81%;
        height: 104%;
        background-size: 47%;
        background-position: center 15%;
        left: 37%;
        top: 27%;
      }
    }
  }



  &__image3 {
    &::after {
        background-image: url("/images/cloth-shop.svg");
      position: absolute;
      // background-image: url("/images/secondImg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      // min-height: 17.5rem;
      // max-height: 20px;
      left: 5.1825rem;
      bottom: 12rem;
    }
  }


  &__image2 {
      position: absolute;
      height: 22rem;
      left: 20.5rem;
      bottom: -6.0rem;
  }

  &__image1 {
    position: absolute;
    height: 17rem;
    left: 18.06rem;
    bottom: 11.2rem;
}
//   &__image2 {
//     position: absolute;
//     // background-image: url("/images/secondImg.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     min-height: 7.5rem;
//     // max-height: 20px;
//     left: 11.1825rem;
//     bottom: 16rem;
//   }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h1 {
      font-weight: 700;
      font-size: 2.31rem;
      line-height: 1.15;
      color: $white;
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        font-size: $font-xlg;
        // font-size: 12.8125rem;
      }
    }
  }

  p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
    color: $white;
  }

  &__apple-store {
    @include breakpoint-up(large) {
      padding-top: 1.125rem;
      padding-left: 1.125rem;
      padding-bottom: 0.625rem;
    }
    @include breakpoint-up(medium) {
      padding-top: 1.125rem;
      padding-left: 1.125rem;
      padding-bottom: 0.625rem;
    }
    @include breakpoint-down(small) {
      display: block;
      // padding-top: 0.625rem;
    }
  }

  &__apple-store {
    @include breakpoint-up(large) {
      padding-top: 0.625rem;
    }
    @include breakpoint-up(medium) {
      padding-top: 0.625rem;
    }

    @include breakpoint-down(small) {
      display: block;
      margin: auto;
      text-align: center;
    }
  }
}
