.objective {
  background-color: $white;
  color: grey;

  .container {
    @include breakpoint-up(large) {
      // display: flex;
      // display: inline-flex;
      // display: grid;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: 1fr auto;
      grid-template-areas:
        "image contents"
        "image contents";
      gap: 5rem;
      justify-items: start;
      max-height: 63rem;
    }
  }

  &__image {
    padding-top: 4.5625rem;
    position: relative;
    // background-image: url("/images/secondImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 20px;
    height: 10px;
    min-height: 17.5rem;
    right: -80px;
    bottom: -46px;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      // flex: 1;
      bottom: -2rem;
      right: 0px;
      min-height: 41rem;
      background-image: none;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
    }

    // before is a pseudo element -whats a pseudo element
    // when you have a pseudo element on the page you need give it a content element
  }

  &__image2 {
    position: relative;
    // background-image: url("/images/secondImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    max-height: 20px;
    left: 11.1825rem;
    bottom: 16rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      flex: 1;
      left: 14.18125rem;
      bottom: 44rem;
      min-height: 41rem;
      background-image: none;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
    }
  }

  &__image3 {
    position: relative;
    // background-image: url("/images/secondImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    bottom: 23rem;
    right: -9.3rem;
    // right: -26.375rem;
    // bottom: -13.75rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      flex: 1;
      background-image: none;
      right: -9.5rem;
      bottom: 59.25rem;
      // min-height: 41rem;
      // background-image: url("/images/bg-intro-desktop.svg");
      // background-position: left center;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 5;

      text-align: left;
      left: 1.875rem;
      bottom: 4rem;
    }

    h1 {
      font-weight: 700;
      font-size: 2.31rem;
      line-height: 1.15;
      color: $white;
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        font-size: $font-xlg;
        // font-size: 12.8125rem;
      }
    }
  }

  p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
    color: $white;
  }

  &__apple-store {
    @include breakpoint-up(large) {
      padding-top: 1.125rem;
      padding-left: 1.125rem;
      padding-bottom: 0.625rem;
    }
    @include breakpoint-up(medium) {
      padding-top: 1.125rem;
      padding-left: 1.125rem;
      padding-bottom: 0.625rem;
    }
    @include breakpoint-down(small) {
      display: block;
      // padding-top: 0.625rem;
    }
  }

  &__apple-store {
    @include breakpoint-up(large) {
      padding-top: 0.625rem;
    }
    @include breakpoint-up(medium) {
      padding-top: 0.625rem;
    }

    @include breakpoint-down(small) {
      display: block;
      margin: auto;
      text-align: center;
    }
  }

  &__image1 {
    height: 15.25rem;
    @include breakpoint-up(large) {
      height: 35.25rem;
    }
  }

  &__imagecontainer {
    @include breakpoint-up(large) {
      grid-area: image;
      max-height: 50rem;
    }
  }

  &__contents {
    @include breakpoint-up(large) {
      // color: black;
      grid-area: contents;
      margin-top: 15rem;
      position: relative;
      z-index: 1;
    }

    // &:hover {
    //   color: black;

    //   &::before {
    //     opacity: 1;
    //   }
    // }
  }

  &__title {
    @include breakpoint-up(large) {
      margin-bottom: 0.8rem;
      font-weight: 700;
      font-size: 1.5625rem;
    }
  }

  &__desc {
    @include breakpoint-up(large) {
      font-weight: 400;
      font-size: 1rem;
      // color: black;
    }
    // &:hover {
    //   color: grey;

    //   &::before {
    //     opacity: 1;
    //   }
    // }
  }

  &__content {
    @include breakpoint-up(large) {
      flex: 18;
      max-width: 18rem;
    }
    // &:hover {
    //   color: grey;

    //   &::before {
    //     opacity: 1;
    //   }
    // }
  }

  &__number {
    // display:inline-block;
    flex: 2;
    font-size: 1.5125rem;
    font-weight: 900;
    width: 3.925rem;
    height: 3.925rem;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: black;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
    // &:hover {
    //   background: black;

    //   &::before {
    //     opacity: 1;
    //   }
    // }
  }
  &__number3 {
    @include breakpoint-up(large) {
      display: inline;
    }
  }

  &__textContents {
    // display: inline-block;
    @include breakpoint-up(large) {
      display: inline-flex;
      margin-bottom: 3rem;
    }

    // &:hover {
    //   color: black;
    //   // background-color: grey;

    //   &::before {
    //     opacity: 1;
    //   }
    // }
  }

  &__vert {
    left: 1.9rem;
    position: absolute;
    border-left: 2px solid grey;
    height: 21rem;
    top: 3.8rem;
    z-index: -1;
  }

  // &__vert2{
  //   left: 1.9rem;
  //   position: absolute;
  //   border-left: 2px solid grey;
  //   height: 8.2rem;
  //   top: 14.7rem;

  // }

  &__trench {
    position: relative;
    bottom: 100px;
    left: -20px;
  }
}
